[component="darkness"] {
	--background: url(https://corru.observer/img/textures/abberwobble.gif);
	--organelle-background: url(https://corru.observer/img/textures/abberwobble.gif);
	--background-small: url(https://corru.observer/img/textures/abberwobble.gif);
    --background-size: auto;
    --background-position: center;
    --background-color: var(--dark-color);
    --accent-color: var(--dark-color);
    --font-color: var(--bright-color);
}
