[component="darkness"] {
	--background: url(https://corru.observer/img/textures/blockerc.gif);
	--organelle-background: url(https://corru.observer/img/textures/blockerc.gif);
	--background-small: url(https://corru.observer/img/textures/blockerc.gif);
    --background-size: auto;
    --background-position: center;
    --background-color: var(--bright-color);
    --accent-color: var(--friend-color);
    --font-color: var(--friend-color);
}

.passive-epidermis_preemptive { background-image: var(--img, var(--fallback-status-image)), url(https://corru.observer/img/textures/blockerc.gif) !important; }
